html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 22px;
}
body {
    background: #fffcf4;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}




