html {
    box-sizing: border-box;
    color: #414141;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 22px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: #fffcf4;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

a {
    color: inherit;
}

/*general*/
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.content {
    padding-top: 87px;
    padding-bottom: 75px;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.border {
}

.border--top {
    border-top: 1px solid;
}

.border--bottom {
    border-bottom: 1px solid;
}

.icn-heart {
    position: relative;
    display: block;
    width: 33px;
    height: 30px;
    line-height: 30px;
}

.icn-heart:after {
    content: "";
    background: url("../img/icon_heart.png") no-repeat 0 0;
    display: block;
    position: absolute;
    width: 33px;
    height: 30px;
    top: 0;
    left: 0;

}

.icn-flower {
    background: url("../img/icon_flower.png") no-repeat 0 0;
    display: inline-block;
    position: relative;
    width: 49px;
    height: 22px;
}

.icn-flower:before,
.icn-flower:after {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    width: 57px;
    height: 1px;
    top: 49%;
}

.icn-flower:before {
    left: -70px;
}

.icn-flower:after {
    right: -70px;
}

.icn-birds {
    position: relative;
    display: inline-block;
    width: 86px;
    height: 53px;
}

.icn-birds:after {
    content: "";
    background: url("../img/icon_birds.png") no-repeat 0 0;
    display: block;
    position: absolute;
    width: 86px;
    height: 53px;
    top: 0;
    left: 0;

}

.social-networks {

}

.social-network {
    margin-right: 15px;
}

.social-network:last-child {
    margin-right: 0;
}

.social-network--link {

}

/*end*/

.logo {
    border: 1px solid #f05f75;
    border-radius: 100%;
    color: #f05f75;
    font-family: "Cormorant", sans-serif;
    font-size: 1.33rem;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    display: block;
    width: 56px;
    height: 56px;
}

/*mobile header*/

.mobile-header {
    background: #fff;
    padding-top: 19px;
    display: none;
    position: relative;
    height: 64px;
    z-index: 100;
}

.mobile-header__items {
    width: 100%;
}

.mobile-header__items:after {
    content: '';
    clear: both;
    display: block;
}

.mobile-header__item {

}

.mobile-header__item.logo {
    background: #fffcf4;
    font-size: .9rem;
    line-height: 47px;
    float: left;
    width: 45px;
    height: 45px;
}

.toggle-nav {
    cursor: pointer;
    float: right;
    margin-top: 14px;
    position: relative;
    width: 23px;
    height: 18px;
}

.toggle-nav__item {
    background: #767676;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 4px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.toggle-nav__item:first-child {
    top: 0;
}

.toggle-nav__item:last-child {
    top: 14px;
}

.toggle-nav--active .toggle-nav__item {
    top: 7px;
}

.toggle-nav--active .toggle-nav__item:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle-nav--active .toggle-nav__item:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toggle-nav--active .toggle-nav__item:nth-last-child(2) {
    display: none;
}

.toggle-nav:hover .toggle-nav__item {
    background: #f05f75;
}

.mobile-header__nav {
    background: #fff;
    padding-bottom: 40px;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 83px;
}

.mobile-header__nav--active {
    display: block;
}

.mobile-header .nav__items {
    float: none;
    margin: 0 auto;
    width: 320px;
}

.mobile-header .nav__item {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    line-height: 40px;
    text-align: center;
    display: block;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.mobile-header .nav__item:first-child,
.mobile-header .nav__item:last-child {
    border: none;
}

.mobile-header .nav__item .nav__item--link {
    display: block;
    width: 100%;
    line-height: 40px;
    text-align: center;
}

.mobile-header .nav__item:hover {
    background: #f05f75;
    border-color: transparent;
}

.mobile-header .nav__item:hover .nav__item--link {
    color: #fff;
}

/*end*/

/*header*/

.header {
    width: 100%;
    height: 100px;
}

.header__nav {
}

.nav {
}

.nav:after {
    content: "";
    clear: both;
    display: block;
}

.nav__items {
    float: left;
    margin: 0;
    padding: 0;
}

.nav__items--left-side {
    text-align: right;
    width: 45%;
}

.nav__items--center {
    text-align: center;
    width: 10%;
}

.nav__items--right-side {
    text-align: left;
    width: 45%;
}

.nav__item {
    display: inline-block;
    line-height: 100px;
}

.nav__items--left-side .nav__item {
    margin-left: 30px;
}

.nav__items--left-side .nav__item:first-child {
    margin-left: 0;
}

.nav__items--right-side .nav__item {
    margin-right: 30px;
}

.nav__items--right-side .nav__item:last-child {
    margin-right: 0;
}

.nav__item--link {
    font-size: .86rem;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.nav__item--link:hover {
    color: #f05f75;
}

.nav__item--logo {
    font-size: 1.33rem;
    font-weight: 500;
    display: inline-block;
}

/*end*/

/*content => title-block*/

.title-block {
    background: url("../img/slider_1.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 240px;
    width: 100%;
    height: 400px;
}

.title-block__text {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 50%;
}

.main-title {
    color: #fff;
    font-family: "Cormorant", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.main-title .border {
    border-color: #fff;
}

.main-title__item {
    display: inline-block;
}

.main-title__item.border {
    line-height: 3rem;
}

.main-title__item.icn-heart {
    margin: 0 2%;
}

.sub-title {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    text-transform: none;
    margin-top: 70px;
}

.title-block__icn-flower {
    margin-top: 34px;
}

/*end*/

/*content => date-timer*/

.date-timer {
    width: 100%;
}

.date-timer__title {
}

.date-timer-title {
    color: #414141;
    line-height: 3.2rem;
}

.date-timer__final-date {
}

.date-timer-final-date {
    color: #414141;
    margin-top: 20px;
}

.date-timer__time-left {
}

.date-timer-time-left {
    width: 40.5%;
    margin: 44px auto 0;
}

.date-timer-time-left:after {
    content: '';
    clear: both;
    display: block;
}

.time-left {
    float: left;
    margin-right: 10%;
    width: 17%;
}

.time-left:last-child {
    margin-right: 0;
}

.time-left__time {
    border: 1px solid #f05f75;
    color: #f05f75;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    line-height: 92px;
    width: 100%;
    height: 92px;
}

.time-left__title {
    color: #85929c;
    text-align: center;
    margin-top: 20px;
}

/*end*/

/*content => about-us*/

.about-us {
    background: #f6f6f6;
    width: 100%;
    margin: 0 auto;
}

.about-us__items {
    width: 83%;
    margin: 0 auto;
}

.about-us__items:after {
    content: '';
    clear: both;
    display: block;
}

.about-us__item {
    float: left;
    padding: 0 0 35px 0;
    width: 50%;
}

.about-us-img {
    position: relative;
}

.about-us-img:before,
.about-us-img:after {
    content: '';
    background: #7e8d99;
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
}

.about-us-img:before {
    content: none;
    left: 0;
}

.about-us-img:after {
    right: -1px;
}

.about-us-img img {
    float: right;
    margin: 0 10% 0 0;
    width: 90%;
    height: auto;
}

.about-us-descriptions {
    position: relative;
}

.about-us-descriptions__description {
    text-align: left;
    padding: 0 0 0 10%;
}

.about-us-descriptions__description:nth-child(2) {
    padding: 0;
}

.about-us-description--status {
    color: #606060;
    font-size: .93rem;
    font-weight: 300;
    line-height: 1.5rem;
    position: absolute;
    top: 22px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.about-us-description--name {
    font-family: "Cormorant", sans-serif;
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 2.3rem;
    padding-top: 90px;
}

.about-us-description--about {
    color: #606060;
    font-weight: 300;
    padding-top: 36px;
}

.about-us-description--social-networks {
    padding-top: 40px;
}

.about-us-description--social-networks i {
    color: #bec5cb;
}

.about-us__items:nth-child(2n) .about-us__item {
    float: right;
    padding: 35px 0 0 0;
}

.about-us__items:nth-child(2n) .about-us-img:before {
    content: '';
}

.about-us__items:nth-child(2n) .about-us-img:after {
    content: none;
}

.about-us__items:nth-child(2n) .about-us-img img {
    float: left;
    margin: 0 0 0 10%;
}

.about-us__items:nth-child(2n) .about-us-descriptions__description {
    text-align: right;
    padding: 0 10% 0 0;
}

.about-us__items:nth-child(2n) .about-us-descriptions__description:nth-child(2) {
    padding: 0;
}

.about-us__items:nth-child(2n) .about-us-description--status {
    right: -6px;
    top: 65px;
}

.about-us__items:nth-child(2n) .about-us-description--name {
    padding-top: 90px;
}

.about-us__items:nth-child(2n) .about-us-description--about {
    padding-top: 36px;
}

.about-us__items:nth-child(2n) .about-us-description--social-networks {
    padding-top: 40px;
}

/*end*/

/*content => history*/

.history {
    width: 100%;
}

.history-head {
    background: url("../img/bg_history.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 123px;
    height: 331px;
    width: 100%;
}

.history-head__logo {
    text-align: center;

}

.history-head__text {
    text-align: center;
    line-height: 3rem;
    display: block;
    margin: 0 auto;
    width: 30%;
}

.history-head__text.sub-title {
    line-height: 1.5rem;
}

.history-events {
    margin: 0 auto;
    position: relative;
    width: 790px;
}

.history-events:after {
    content: '';
    background: #d1d1d1;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    z-index: 5;
}

.history-event {
    position: relative;
    width: 100%;
    min-height: 360px;
}

.history-event:after {
    content: '';
    background: #d1d1d1;
    display: block;
    position: absolute;
    top: 0;
    left: 395px;
    width: 1px;
    height: 100%;
    z-index: 5;
}

.history-event:after {
    content: '';
    clear: both;
    display: block;
}

.event__item {
    float: left;
    width: 50%;
}

.event-photo {
}

.event-photo--img {
    margin-right: 95px;
}

.event-date {
    background: url("../img/bg_event-date.png") no-repeat center center;
    background-size: contain;
    display: block;
    margin-left: 1px;
    position: absolute;
    width: 90px;
    height: 90px;
    left: 350px;
    top: 100px;
    z-index: 10;
}

.event-date__day {
    color: #f05f75;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;
    display: block;
    margin-top: 25px;
}

.event-date__date {
    color: #f05f75;
    font-size: .86rem;
    font-weight: 600;
    line-height: .93rem;
    text-align: center;
    display: block;
    margin-top: 5px;
}

.event-descriptions {
}

.event-descriptions__title {
    color: #414141;
    font-family: "Cormorant", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4rem;
    margin-left: 95px;
    margin-bottom: 25px;

}

.event-descriptions__description {
    color: #606060;
    font-size: .93rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin-left: 95px;
}

/*2n event*/

.history-event:nth-child(2n) .event__item {
    float: right;
}

.history-event:nth-child(2n) .event-photo--img {
    margin-right: 0;
    margin-left: 95px;
}

.history-event:nth-child(2n) .event-descriptions__title,
.history-event:nth-child(2n) .event-descriptions__description {
    margin-left: 0;
    margin-right: 95px;
}

/*end*/

/*content => relatives*/

.relatives {
    background: #f6f6f6;
}

.relatives__text {
    color: #414141;
    text-align: center;
    line-height: 3rem;
    display: block;
    margin: 0 auto;
    width: 40%;
}

.relatives__text.sub-title {
    color: #606060;
    font-weight: 100;
    line-height: 1.5rem;
    margin-top: 20px;
}

.relatives-gallery {
    margin-top: 75px;
}

.gallery {
    width: 100%;
}

.gallery-group {
    width: 100%;
}

.gallery-group:after {
    content: '';
    clear: both;
    display: block;
}

.gallery-item {
    float: left;
    position: relative;
    width: 25%;
    max-height: 340px;
}

.gallery-item__img {
    width: 100%;
    height: auto;
    max-height: 340px;
}

.gallery-item__layout {
    top: 0;
    left: 0;
}

.gallery-item-layout {
    background: rgba(40, 40, 40, .5);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.gallery-item-layout__description {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 46px;
    left: 0;
}

.gallery-item-layout__description--name {
    color: #fffcf4;
    font-family: "Cormorant", sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 2.6rem;
    text-align: center;
    padding: 0 3%;
}

.gallery-item-layout__description--status {
    color: #fffcf4;
    font-size: 1.06rem;
    font-weight: 400;
    line-height: 1.86rem;
    text-align: center;
}

.gallery-item:hover .gallery-item-layout {
    opacity: 1;
}

.gallery-buttons {
    display: none;
    margin-top: 35px;
    text-align: center;
}

.gallery-button {
    font-size: .9rem;
    font-weight: 500;
    line-height: 40px;
    padding: 0 25px;
}

.gallery-button--show-more {
    background: #f05f75;
    -webkit-box-shadow: 0 3px 0 0 rgba(201, 69, 89, 0.004);
    -moz-box-shadow: 0 3px 0 0 rgba(201, 69, 89, 0.004);
    box-shadow: 0 3px 0 0 rgba(201, 69, 89, 0.004);
    color: #fffcf4;

}

/*end*/

/*content => relatives*/







































/*end*/

/*footer*/

.footer {
    background: #f05f75;
    width: 100%;
    padding: 50px 0;
}

.footer__items:after {
    content: '';
    clear: both;
    display: block;
}

.footer__item {
    float: left;
    width: 43%;
}

.footer-contacts {
    text-align: right;
}

.footer-contacts:last-child {
    text-align: left;
}

.footer-contacts__name {
    color: #fffcf4;
    font-size: 1.06rem;
    line-height: 1.5rem;
}

.footer-contacts__contact {
}

.footer-contacts__contact a {
    color: #fffcf4;
    font-size: .93rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.footer-contacts__contact a:first-child:after {
    content: ',';
    color: #fffcf4;
    font-size: .93rem;
    font-weight: 300;
}

.footer-contacts__social-networks {
    margin-top: 12px;
}

.footer-contacts__social-networks i {
    color: #fffcf4;
}

.footer-logo {
    width: 14%;
}

.footer-logo--mobile {
    display: none;
}

.footer-logo--desktop {
}

.footer-logo__logo {
    border-color: #fffcf4;
    color: #fffcf4;
    margin: 0 auto;
}

/*end*/