html {
    box-sizing: border-box;
    color: #414141;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 22px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: #fffcf4;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

a {
    color: inherit;
}

p {
    margin: 0;
}

.table {
    border-spacing: 0;
}

/*general*/
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.content {
    padding-top: 87px;
    padding-bottom: 75px;
}

.form-container {
    width: 100%;
}

.form {
    width: 100%;
}

.form-group {
    width: 100%;
    margin-bottom: 30px;
}

.form-group:after {
    content: '';
    clear: both;
    display: block;
}

.label {
    color: #57667b;
    font-size: 1.06rem;
    font-weight: 400;
    line-height: 2.46rem;
    cursor: pointer;
}

.label--required:after {
    content: '*';
    color: #57667b;
    font-size: 1.06rem;
    font-weight: 400;
    line-height: 1.46rem;
    margin-left: 6px;
}

.input-file-wrap {
    display: inline-block;
    position: relative;
}

.input-file-label {
    color: #57667b;
    font-size: 1.06rem;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.input-file {
    opacity: 0;
    z-index: 1;
    width: auto;
    max-width: 120px;
}

.input {
    background: #fff;
    border: 2px solid #98a6ba;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #414141;
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 56px;
    height: 56px;
    display: inline-block;
    outline: none;
    padding: 0 2%;
    width: 95%;
}

.input--textarea {
    height: 150px;
    resize: none;
}

.select {
    background: #fff;
    border: 2px solid #98a6ba;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    padding: 0 2%;
    width: 95%;
    height: 56px;
}

.select__button {
    background: #98a6ba;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 100%;
}

.select__button:after {
    content: '';
    background: url("../img/icon_drpdwn.png") no-repeat 0 0;
    display: block;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    left: 17px;
    height: 12px;
    width: 18px;
}

.select__chosen-item {
    color: #414141;
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 56px;
    width: 100%;
}

.select__drop-down-list {
    display: none;
}

.drop-down-list {
    background: #fff;
    border: 2px solid #98a6ba;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 56px;
    left: -2px;
    width: 100%;
}

.drop-down-list__item {
    color: #414141;
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 56px;
    cursor: pointer;
    padding: 0 2%;
}

.drop-down-list__item:hover {
    background: #98a6ba;
    color: #fff;
}

.select--active {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

.select--active .select__drop-down-list {
    display: block;
    border-top: none;
}

.select--active .select__button:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.validation-error {
    border-color: #f05f75;
}

.buttons {
}

.buttons:after {
    content: '';
    clear: both;
    display: block;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.button--positive {
    background: #f05f75;
    -webkit-box-shadow: 0 3px 0 0 rgba(201, 69, 89, 0.004);
    -moz-box-shadow: 0 3px 0 0 rgba(201, 69, 89, 0.004);
    box-shadow: 0 3px 0 0 rgba(201, 69, 89, 0.004);
    color: #fffcf4;
    font-size: .9rem;
    font-weight: 500;
    line-height: 40px;
    padding: 0 25px;
}

.button-control {
    background: rgba(246, 246, 246, .95);
    border-radius: 100%;
    position: relative;
    width: 26px;
    height: 26px;
}

.button-control:before,
.button-control:after {
    content: '';
    background: #f05f75;
    display: block;
    position: relative;
    width: 10px;
    height: 1px;
    left: 0;
}

.button-control--prev:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -3px;
}

.button-control--prev:after {
    -webkit-transform: rotate(228deg);
    -moz-transform: rotate(228deg);
    -ms-transform: rotate(228deg);
    -o-transform: rotate(228deg);
    transform: rotate(228deg);
    top: 3px;
}

.button-control--next:before {
    -webkit-transform: rotate(228deg);
    -moz-transform: rotate(228deg);
    -ms-transform: rotate(228deg);
    -o-transform: rotate(228deg);
    transform: rotate(228deg);
    top: -3px;
    left: 5px;
}

.button-control--next:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 3px;
    left: 5px;
}

.border {
}

.border--top {
    border-top: 1px solid;
}

.border--bottom {
    border-bottom: 1px solid;
}

.icn-heart {
    position: relative;
    display: block;
    width: 33px;
    height: 30px;
    line-height: 30px;
}

.icn-heart:after {
    content: "";
    background: url("../img/icon_heart.png") no-repeat 0 0;
    display: block;
    position: absolute;
    width: 33px;
    height: 30px;
    top: 0;
    left: 0;

}

.icn-flower {
    background: url("../img/icon_flower.png") no-repeat 0 0;
    display: inline-block;
    position: relative;
    width: 49px;
    height: 22px;
}

.icn-flower:before,
.icn-flower:after {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    width: 57px;
    height: 1px;
    top: 49%;
}

.icn-flower:before {
    left: -70px;
}

.icn-flower:after {
    right: -70px;
}

.icn-birds {
    position: relative;
    display: inline-block;
    width: 86px;
    height: 53px;
}

.icn-birds:after {
    content: "";
    background: url("../img/icon_birds.png") no-repeat 0 0;
    display: block;
    position: absolute;
    width: 86px;
    height: 53px;
    top: 0;
    left: 0;

}

.icn-calendar {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 33px;
}

.icn-calendar:after {
    content: '';
    background: url("../img/icon_calendar.png") no-repeat 0 0;
    background-size: contain;
    display: block;
    position: absolute;
    width: 40px;
    height: 33px;
    top: 0;
    left: 0;
}

.icn-clock {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 39px;
}

.icn-clock:after {
    content: '';
    background: url("../img/icon_clock.png") no-repeat 0 0;
    background-size: contain;
    display: block;
    position: absolute;
    width: 39px;
    height: 39px;
    top: 0;
    left: 0;
}

.icn-address {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 41px;
}

.icn-address:after {
    content: '';
    background: url("../img/icon_place.png") no-repeat 0 0;
    background-size: contain;
    display: block;
    position: absolute;
    width: 32px;
    height: 41px;
    top: 0;
    left: 0;
}

.social-networks {

}

.social-network {
    margin-right: 15px;
}

.social-network:last-child {
    margin-right: 0;
}

.social-network--link {

}

/*end*/

.logo {
    border: 1px solid #f05f75;
    border-radius: 100%;
    color: #f05f75;
    font-family: "Cormorant", sans-serif;
    font-size: 1.33rem;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    display: block;
    width: 56px;
    height: 56px;
}

/*mobile header*/

.mobile-header {
    background: #fff;
    padding-top: 19px;
    display: none;
    position: relative;
    height: 64px;
    z-index: 100;
}

.mobile-header__items {
    width: 100%;
}

.mobile-header__items:after {
    content: '';
    clear: both;
    display: block;
}

.mobile-header__item {

}

.mobile-header__item.logo {
    background: #fffcf4;
    font-size: .9rem;
    line-height: 47px;
    float: left;
    width: 45px;
    height: 45px;
}

.toggle-nav {
    cursor: pointer;
    float: right;
    margin-top: 14px;
    position: relative;
    width: 23px;
    height: 18px;
}

.toggle-nav__item {
    background: #767676;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 4px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.toggle-nav__item:first-child {
    top: 0;
}

.toggle-nav__item:last-child {
    top: 14px;
}

.toggle-nav--active .toggle-nav__item {
    top: 7px;
}

.toggle-nav--active .toggle-nav__item:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle-nav--active .toggle-nav__item:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toggle-nav--active .toggle-nav__item:nth-last-child(2) {
    display: none;
}

.toggle-nav:hover .toggle-nav__item {
    background: #f05f75;
}

.mobile-header__nav {
    background: #fff;
    padding-bottom: 40px;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 83px;
}

.nav--active {
    display: block;
}

.mobile-header .nav__items {
    float: none;
    margin: 0 auto;
    width: 320px;
}

.mobile-header .nav__item {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    line-height: 40px;
    text-align: center;
    display: block;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.mobile-header .nav__item:first-child,
.mobile-header .nav__item:last-child {
    border: none;
}

.mobile-header .nav__item .nav__item--link {
    display: block;
    width: 100%;
    line-height: 40px;
    text-align: center;
}

.mobile-header .nav__item:hover {
    background: #f05f75;
    border-color: transparent;
}

.mobile-header .nav__item:hover .nav__item--link {
    color: #fff;
}

/*end*/

/*header*/

.header {
    width: 100%;
    height: 100px;
}

.header__nav {
}

.nav {
}

.nav:after {
    content: "";
    clear: both;
    display: block;
}

.nav__items {
    float: left;
    margin: 0;
    padding: 0;
}

.nav__items--left-side {
    text-align: right;
    width: 45%;
}

.nav__items--center {
    text-align: center;
    width: 10%;
}

.nav__items--right-side {
    text-align: left;
    width: 45%;
}

.nav__item {
    display: inline-block;
    line-height: 100px;
}

.nav__items--left-side .nav__item {
    margin-left: 30px;
}

.nav__items--left-side .nav__item:first-child {
    margin-left: 0;
}

.nav__items--right-side .nav__item {
    margin-right: 30px;
}

.nav__items--right-side .nav__item:last-child {
    margin-right: 0;
}

.nav__item--link {
    font-size: .86rem;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.nav__item--link:hover {
    color: #f05f75;
}

.nav__item--logo {
    font-size: 1.33rem;
    font-weight: 500;
    display: inline-block;
}

/*end*/

/*content => title-block*/

.title-block {
    background: url("../img/slider_1.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 240px;
    width: 100%;
    height: 400px;
}

.title-block__text {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 50%;
}

.main-title {
    color: #fff;
    font-family: "Cormorant", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.main-title .border {
    border-color: #fff;
}

.main-title__item {
    display: inline-block;
}

.main-title__item.border {
    line-height: 3rem;
}

.main-title__item.icn-heart {
    margin: 0 2%;
}

.sub-title {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    text-transform: none;
    margin-top: 70px;
}

.title-block__icn-flower {
    margin-top: 34px;
}

/*end*/

/*content => date-timer*/

.date-timer {
    width: 100%;
}

.date-timer__title {
}

.date-timer-title {
    color: #414141;
    line-height: 3.2rem;
}

.date-timer__final-date {
}

.date-timer-final-date {
    color: #414141;
    margin-top: 20px;
}

.date-timer__time-left {
}

.date-timer-time-left {
    width: 40.5%;
    margin: 44px auto 0;
}

.date-timer-time-left:after {
    content: '';
    clear: both;
    display: block;
}

.time-left {
    float: left;
    margin-right: 10%;
    width: 17%;
}

.time-left:last-child {
    margin-right: 0;
}

.time-left__time {
    border: 1px solid #f05f75;
    color: #f05f75;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    line-height: 92px;
    width: 100%;
    height: 92px;
}

.time-left__title {
    color: #85929c;
    text-align: center;
    margin-top: 20px;
}

/*end*/

/*content => about-us*/

.about-us {
    background: #f6f6f6;
    width: 100%;
    margin: 0 auto;
}

.about-us__items {
    width: 83%;
    margin: 0 auto;
}

.about-us__items:after {
    content: '';
    clear: both;
    display: block;
}

.about-us__item {
    float: left;
    padding: 0 0 35px 0;
    width: 50%;
}

.about-us-img {
    position: relative;
}

.about-us-img:before,
.about-us-img:after {
    content: '';
    background: #7e8d99;
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
}

.about-us-img:before {
    content: none;
    left: 0;
}

.about-us-img:after {
    right: -1px;
}

.about-us-img img {
    float: right;
    margin: 0 10% 0 0;
    width: 90%;
    height: auto;
}

.about-us-descriptions {
    position: relative;
}

.about-us-descriptions__description {
    text-align: left;
    padding: 0 0 0 10%;
}

.about-us-descriptions__description:nth-child(2) {
    padding: 0;
}

.about-us-description--status {
    color: #606060;
    font-size: .93rem;
    font-weight: 300;
    line-height: 1.5rem;
    position: absolute;
    top: 22px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.about-us-description--name {
    font-family: "Cormorant", sans-serif;
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 2.3rem;
    padding-top: 90px;
}

.about-us-description--about {
    color: #606060;
    font-weight: 300;
    padding-top: 36px;
}

.about-us-description--social-networks {
    padding-top: 40px;
}

.about-us-description--social-networks i {
    color: #bec5cb;
}

.about-us__items:nth-child(2n) .about-us__item {
    float: right;
    padding: 35px 0 0 0;
}

.about-us__items:nth-child(2n) .about-us-img:before {
    content: '';
}

.about-us__items:nth-child(2n) .about-us-img:after {
    content: none;
}

.about-us__items:nth-child(2n) .about-us-img img {
    float: left;
    margin: 0 0 0 10%;
}

.about-us__items:nth-child(2n) .about-us-descriptions__description {
    text-align: right;
    padding: 0 10% 0 0;
}

.about-us__items:nth-child(2n) .about-us-descriptions__description:nth-child(2) {
    padding: 0;
}

.about-us__items:nth-child(2n) .about-us-description--status {
    right: -6px;
    top: 65px;
}

.about-us__items:nth-child(2n) .about-us-description--name {
    padding-top: 90px;
}

.about-us__items:nth-child(2n) .about-us-description--about {
    padding-top: 36px;
}

.about-us__items:nth-child(2n) .about-us-description--social-networks {
    padding-top: 40px;
}

/*end*/

/*content => history*/

.history {
    width: 100%;
}

.history-head {
    background: url("../img/bg_history.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 123px;
    height: 331px;
    width: 100%;
}

.history-head__logo {
    text-align: center;

}

.history-head__text {
    text-align: center;
    line-height: 3rem;
    display: block;
    margin: 0 auto;
    width: 30%;
}

.history-head__text.sub-title {
    line-height: 1.5rem;
}

.history-events {
    margin: 0 auto;
    position: relative;
    width: 790px;
}

.history-events:after {
    content: '';
    background: #d1d1d1;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    z-index: 5;
}

.history-event {
    position: relative;
    width: 100%;
    min-height: 360px;
}

.history-event:after {
    content: '';
    background: #d1d1d1;
    display: block;
    position: absolute;
    top: 0;
    left: 395px;
    width: 1px;
    height: 100%;
    z-index: 5;
}

.history-event:after {
    content: '';
    clear: both;
    display: block;
}

.event__item {
    float: left;
    width: 50%;
}

.event-photo {
}

.event-photo--img {
    margin-right: 95px;
}

.event-date {
    background: url("../img/bg_event-date.png") no-repeat center center;
    background-size: contain;
    display: block;
    margin-left: 1px;
    position: absolute;
    width: 90px;
    height: 90px;
    left: 350px;
    top: 100px;
    z-index: 10;
}

.event-date__day {
    color: #f05f75;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;
    display: block;
    margin-top: 25px;
}

.event-date__date {
    color: #f05f75;
    font-size: .86rem;
    font-weight: 600;
    line-height: .93rem;
    text-align: center;
    display: block;
    margin-top: 5px;
}

.event-descriptions {
}

.event-descriptions__title {
    color: #414141;
    font-family: "Cormorant", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4rem;
    margin-left: 95px;
    margin-bottom: 25px;

}

.event-descriptions__description {
    color: #606060;
    font-size: .93rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin-left: 95px;
}

/*2n event*/

.history-event:nth-child(2n) .event__item {
    float: right;
}

.history-event:nth-child(2n) .event-photo--img {
    margin-right: 0;
    margin-left: 95px;
}

.history-event:nth-child(2n) .event-descriptions__title,
.history-event:nth-child(2n) .event-descriptions__description {
    margin-left: 0;
    margin-right: 95px;
}

/*end*/

/*content => relatives*/

.relatives {
    background: #f6f6f6;
}

.relatives__text {
    color: #414141;
    text-align: center;
    line-height: 3rem;
    display: block;
    margin: 0 auto;
    width: 40%;
}

.relatives__text.sub-title {
    color: #606060;
    font-weight: 100;
    line-height: 1.5rem;
    margin-top: 20px;
}

.relatives-gallery {
    margin-top: 75px;
}

.gallery {
    width: 100%;
}

.gallery-group {
    width: 100%;
}

.gallery-group:after {
    content: '';
    clear: both;
    display: block;
}

.gallery-item {
    float: left;
    position: relative;
    width: 25%;
    max-height: 340px;
}

.gallery-item__img {
    width: 100%;
    height: auto;
    max-height: 340px;
}

.gallery-item__layout {
    top: 0;
    left: 0;
}

.gallery-item-layout {
    background: rgba(40, 40, 40, .5);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.gallery-item-layout__description {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 46px;
    left: 0;
}

.gallery-item-layout__description--name {
    color: #fffcf4;
    font-family: "Cormorant", sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 2.6rem;
    text-align: center;
    padding: 0 3%;
}

.gallery-item-layout__description--status {
    color: #fffcf4;
    font-size: 1.06rem;
    font-weight: 400;
    line-height: 1.86rem;
    text-align: center;
}

.gallery-item:hover .gallery-item-layout {
    opacity: 1;
}

.gallery-buttons {
    display: none;
    margin-top: 35px;
    text-align: center;
}

/*end*/

/*content => time-and-place*/

.time-and-place {
    background: url("../img/bg_places.jpg") no-repeat center;
    background-size: cover;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 747px;
}

.time-and-place__text {

}

.time-and-place__menu {
    text-align: center;
}

.time-and-place__button {

}

.time-and-place-button {
    background: transparent;
    border: 1px solid transparent;
    color: #fff;
    font-size: 1rem;
    line-height: 1.66rem;
    padding: 0 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.time-and-place__button:nth-child(2) {
    margin: 0 30px;
}

.time-and-place-button--active {
    background: #f05f75;
}

.time-and-place-button:hover {
    border-color: #fff;
}

.time-and-place__places {
    margin-top: 60px;
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.time-and-place__places:after {
    content: '';
    clear: both;
    display: block;
}

.time-and-place__place {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.time-and-place__place--active {
    opacity: 1;
}

.time-and-place-item {
    float: left;
    width: 50%;
    height: 420px;
}

.time-and-place__table {
    margin-top: 60px;
}

.time-and-place__table .table-row .table-cell:first-child {
    border-right: 1px solid #e3e3e3;
}

.time-and-place__table .table-cell {
    padding: 24px;
    border-bottom: 1px solid #e3e3e3;
}

.time-and-place__table .table-cell p {
    color: #fefefe;
    font-size: 1.2rem;
    line-height: 1.86rem;
}

.time-and-place__map {
    background: #b3d4fc;
    display: block;
}

/*end*/

/*content => timetable*/

.timetable {
    background: url("../img/bg_timetable.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 736px;
}

.timetable__text {
    color: #414141;
    text-align: center;
    line-height: 3rem;
    display: block;
    margin: 0 auto;
    width: 40%;
}

.timetable__text.sub-title {
    color: #606060;
    font-weight: 100;
    line-height: 1.5rem;
    margin-top: 20px;
}

.timetable__board {
    margin-top: 55px;
}

.board__event {
    margin-left: 38%;
    width: 62%;
}

.board-event {
    position: relative;
}

.board-event__date {
    background: #f05f75;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    display: block;
    position: absolute;
    height: 33px;
    width: 80px;
    top: 0;
    left: 0;
}

.board-event__title {
    color: #414141;
    font-family: "Cormorant", sans-serif;
    font-size: 1.86rem;
    font-weight: 600;
    line-height: 33px;
    margin-left: 143px;
}

.board-event__description {
    border-left: 2px dashed #f05f75;
    color: #606060;
    font-size: .93rem;
    font-weight: 300;
    line-height: 1.46rem;
    margin-left: 40px;
    padding-left: 103px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*end*/

/*content => timetable*/

.interview {
    background: url("../img/bg_interview.jpg") no-repeat center;
    background-size: cover;
}

.interview__text {
    color: #414141;
    text-transform: none;
    font-style: italic;
}

.interview__form {
    width: 52%;
    margin: 0 auto;
}

.interview__form-item {
    float: left;
    width: 45%;
    padding: 0 2.5%;
}

.interview__label {
}

.interview__input {
}

.interview__select {
}

.interview__form .buttons {
    text-align: center;
}

/*end*/

/*content => timetable*/

.guests-block {
    background: #eaecf4;
}

.guests__text {
    color: #414141;
}

.guests__text.sub-title {
    color: #606060;
    width: 50%;
    margin: 0 auto;
}

.guests {
    margin-top: 65px;
}

.guests:after {
    content: '';
    clear: both;
    display: block;
}

.guest {
    background: #ffffff;
    display: block;
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 50px;
}

.guest:nth-child(3n) {
    margin-right: 0;
}

.guest-photo {

}

.guest-photo img {
    width: 100%;
    height: auto;

}

.guest-descriptions {
    padding: 27px 37px 60px;
}

.guest-descriptions__title {
    color: #414141;
    font-family: "Cormorant", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;
}

.guest-descriptions__description {
    color: #606060;
    font-size: .93rem;
    font-weight: 300;
    line-height: 1.4rem;
    text-align: center;
    margin-top: 27px;
}

.guests-buttons {
    text-align: center;
    display: none;
}

/*end*/

/*content => history-gallery*/

.history-gallery-block {
    background: #eaecf4;
}

.history-gallery-block:after {
    content: '';
    clear: both;
    display: block;
}

.history-gallery:after {
    content: '';
    clear: both;
    display: block;
}

.history-gallery__col {
    float: left;
    height: 700px;
}

.history-gallery__col--left {
    width: 30%;
}

.history-gallery__col--middle {
    width: 40%;
}

.history-gallery__col--right {
    width: 30%;
}

.history-gallery__item {
    width: 100%;
    float: left;
}

/*end*/

/*content => wishes*/

.wishes {
    background: #fffcf4;
}

.wishes__text {
    color: #414141;
    text-transform: none;
    font-style: italic;
    width: 40%;
    margin: 40px auto 70px;
}

.wishes-slider {
    width: 720px;
    margin: 0 auto;
}

.wishes-slide {
    position: relative;
    background: #f6f6f6;
    height: 274px;
}

.wishes-slider:before {
    content: '';
    display: block;
    background: url("../img/icon_birds_inverse.png") no-repeat 0 0;
    position: absolute;
    width: 86px;
    height: 53px;
    top: -53px;
    right: 24px;
}

.wishes-slide:after {
    content: '';
    clear: both;
    display: block;
}

.wishes-slide__item {
    display: block;
    float: left;
}

.wishes-slide__item:last-child {
    width: 60%;
}

.wishes-slide__item img {
    width: auto;
    height: 100%;
}

.wishes-slide-item__wishes {
    color: #464646;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 50px 20px 0 40px;
}

.wishes-slide-item__wisher {
    color: #414141;
    font-family: "Cormorant", sans-serif;
    font-size: 1.33rem;
    font-weight: 600;
    line-height: 2.33rem;
    padding: 24px 20px 0 40px;
}

.wishes-buttons {
    text-align: center;
    margin-top: 90px;
}

.wishes-buttons .button {
    padding: 0 65px;
}

/*end*/

/*content => wishes mobile*/

.mobile-wishes {
    background: #f6f6f6;
    display: none;
}

.wish {
    width: 100%;
    margin-bottom: 15px;
}

.wish:last-child {
    margin-bottom: 0;
}

.wish__item {
    width: 100%;
    text-align: center;

}

.wish__item img {
    width: 60%;
    height: auto;
}

.wish-item__wishes {
    color: #464646;
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.4rem;
    padding: 25px 15px 0;
}

.wish-item__wisher {
    color: #414141;
    font-family: "Cormorant", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 600;
    padding: 15px 15px;
}

/*end*/

/*content => thanks-block*/

.send-wishes-modal {
}

.send-wishes-modal__form {
}

.send-wishes-modal__form-item {
}

.send-wishes-modal__label {
}

.send-wishes-modal__input {
}

.send-wishes-modal__button {
    float: right;
    padding: 0 70px;
}

/*end*/

/*content => gifts*/

.gifts-block {}

.gifts__text {
    color: #414141;
}

.gifts__text.sub-title {
    color: #606060;
    font-weight: 300;
    margin: 0 auto;
    width: 60%;
}

.gifts {
    margin-top: 50px;
    width: 100%;
}

.gifts:after {
    content: '';
    clear: both;
    display: block;
}

.gift {
    float: left;
    width: 22%;
    margin-right: 4%;
}

.gift:nth-child(4) {
    margin-right: 0;
}

.gift img {
    width: 100%;
    height: auto;
}

/*end*/

/*content => photo-gallery*/

.photo-gallery-block {
    background-color: #f6f6f6;
}

.photo-gallery-block__text {
    color: #414141;
}

.photo-gallery__titles {
    text-align: center;
    margin-top: 40px;
}

.photo-gallery__title {
    color: #747474;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.photo-gallery__title--active {
    background: #f05f75;
    color: #ffffff;
}

.photo-gallery__groups {
    margin-top: 48px;
}

.photo-gallery__group {
    display: none;
}

.photo-gallery__group:after {
    content: '';
    clear: both;
    display: block;
}

.photo-gallery__group--active {
    display: block;
}

.photo-gallery__item {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 50px;
}

.photo-gallery__item:nth-child(3n) {
    margin-right: 0;
}

.photo-gallery__img {
    cursor: pointer;
    width: 100%;
    height: auto;
}

/*end*/

/*content => photo-gallery-modal*/

.chosen-photo {
    position: relative;
    width: 100%;
    height: auto;
}

.chosen-photo__img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
}

.chosen-group__button,
.chosen-photo__button {
    position: absolute;
}

.chosen-photo__button.button-control--prev {
    top: 50%;
    left: 100px;
    margin-top: -13px;
}
.chosen-photo__button.button-control--next {
    top: 50%;
    right: 100px;
    margin-top: -13px;
}

.chosen-group__button.button-control--prev {
    top: 50%;
    left: -60px;
    margin-top: -13px;
}

.chosen-group__button.button-control--next {
    top: 50%;
    right: -60px;
    margin-top: -13px;
}

.chosen-group {
    margin: 40px auto 0;
    position: relative;
    width: 70%;
}

.chosen-group__items {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 136px;
}

.chosen-group__item {
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 133px;
}

.chosen-group__img {
    cursor: pointer;
    width: 200px;
    height: 133px;
}

.chosen-group__item--active {
    border-color: #f05f75;
}

/*end*/

/*content => thanks-block*/

.thanks-block {
    background: url("../img/bg_thanks.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}

.thanks-block__text {
    color: #fff;
    text-transform: none;
    font-style: italic;
    width: 40%;
    margin: 40px auto;
}

.thanks-block__text.sub-title {
    font-style: normal;
    font-size: 1rem;
    line-height: 1.46rem;
}

.thanks-block__description .main-title {
    height: 50px;
}

.thanks-block__description .main-title__item {
    text-transform: none;
    font-style: italic;
    line-height: 50px;
}

.thanks-block__description .main-title__item.icn-heart:after {
    top: 7px
}

.thanks-block__description .main-title__item.icn-heart {
    margin: 0 1%;
}

/*end*/

/*footer*/

.footer {
    background: #f05f75;
    width: 100%;
    padding: 50px 0;
}

.footer__items:after {
    content: '';
    clear: both;
    display: block;
}

.footer__item {
    float: left;
    width: 43%;
}

.footer-contacts {
    text-align: right;
}

.footer-contacts:last-child {
    text-align: left;
}

.footer-contacts__name {
    color: #fffcf4;
    font-size: 1.06rem;
    line-height: 1.5rem;
}

.footer-contacts__contact {
}

.footer-contacts__contact a {
    color: #fffcf4;
    font-size: .93rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.footer-contacts__contact a:first-child:after {
    content: ',';
    color: #fffcf4;
    font-size: .93rem;
    font-weight: 300;
}

.footer-contacts__social-networks {
    margin-top: 12px;
}

.footer-contacts__social-networks i {
    color: #fffcf4;
}

.footer-logo {
    width: 14%;
}

.footer-logo--mobile {
    display: none;
}

.footer-logo--desktop {
}

.footer-logo__logo {
    border-color: #fffcf4;
    color: #fffcf4;
    margin: 0 auto;
}

/*end*/