@media screen and (max-width: 1300px) {
    html {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1100px) {
    html {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 640px;
        margin: 0 auto;
    }

    .mobile-header {
        display: block;
    }

    .header {
        display: none;
    }

    .title-block__text {
        width: 50%;
    }

    .date-timer-time-left {
        width: 100%;
    }

    .time-left {
        margin-right: 14%;
        width: 14%;
    }

    .about-us-description--name br {
        display: none;
    }

    .about-us__items:nth-child(2n) .about-us-description--name,
    .about-us-description--name {
        padding-top: 10px;
    }

    .about-us__items:nth-child(2n) .about-us-description--about,
    .about-us-description--about {
        padding-top: 6px;
    }

    .about-us__items:nth-child(2n) .about-us-description--social-networks,
    .about-us-description--social-networks {
        padding-top: 10px;
    }

    .history-head__text {
        width: 40%;
    }

    .history-events:after {
        display: none;
    }

    .history-event {
        min-height: 0;
    }

    .history-event:after {
        display: none;
    }

    .event__item,
    .history-event:nth-child(2n) .event__item {
        float: none;
        width: 100%;
    }

    .event-photo--img,
    .history-event:nth-child(2n) .event-photo--img,
    .event-descriptions__title,
    .event-descriptions__description,
    .history-event:nth-child(2n) .event-descriptions__title,
    .history-event:nth-child(2n) .event-descriptions__description{
        margin: 0;
    }

    .event-photo--img,
    .history-event:nth-child(2n) .event-photo--img{
        width: 100%;
        height: auto;
    }

    .history-event:nth-child(2n) .event-date,
    .event-date {
        line-height: 90px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        width: 90px;
        top: -51px;
        left: 0;
    }

    .event-date__day {
        position: absolute;
        margin-top: 0;
        top: 26px;
        left: 29px;
    }

    .event-date__date {
        position: absolute;
        top: 46px;
        left: 29px;
    }

    .history-event:nth-child(2n) .event-descriptions,
    .event-descriptions {
        text-align: center;
        width: 70%;
        margin: 0 auto 90px;
    }

    .history-event:nth-child(2n) .event-descriptions__description,
    .event-descriptions__description {
        margin-top: 15px;
    }
}

@media screen and (max-width: 830px) {
    .title-block__text {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    body {
        background: #fff;
    }

    .date-timer-time-left {
        width: 75%;
    }

    .time-left {
        margin-right: 10%;
        width: 17%;
    }

    .time-left__time {
        background: #fffcf4;
    }

    .about-us {
        background: #fff;
    }

    .about-us__items:first-child {
        margin-bottom: 90px;
    }

    .about-us__items:nth-child(2n) .about-us__item,
    .about-us__item {
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 80%;
        text-align: center;
    }

    .about-us__items:nth-child(2n) .about-us-img img,
    .about-us-img img {
        float: none;
        margin: 0;
        width: 100%;
    }

    .about-us__items:nth-child(2n) .about-us-img:before,
    .about-us__items:nth-child(2n) .about-us-img:after,
    .about-us-img:before,
    .about-us-img:after {
        content: none;
    }

    .about-us__items:nth-child(2n) .about-us-descriptions__description,
    .about-us-descriptions__description {
        text-align: center;
        padding: 10px 0 0 0;
    }

    .about-us__items:nth-child(2n) .about-us-descriptions__description:nth-child(2),
    .about-us-descriptions__description:nth-child(2) {
        padding-top: 10px;
    }

    .about-us__items:nth-child(2n) .about-us-description--status,
    .about-us-description--status {
        font-size: .95rem;
        display: inline-block;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .about-us-description--status:before,
    .about-us-description--status:after {
        content: '';
        background: #a4adb4;
        display: block;
        position: absolute;
        width: 15px;
        height: 1px;
        top: 70%;
    }

    .about-us-description--status:before {
        left: -34px;
    }

    .about-us-description--status:after {
        right: -34px;
    }

    .about-us-description--social-networks {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .container {
        width: 90%;
        max-width: none;
        margin: 0 auto;
    }

    .footer__item {
        width: 40%;
    }

    .footer-logo {
        width: 20%;
    }
}

@media screen and (max-width: 600px) {
    .title-block__text {
        width: 90%;
    }

    .date-timer-time-left {
        width: 90%;
    }
}

@media screen and (max-width: 470px) {
    .title-block__text {
        width: 100%;
    }

    .main-title__item.icn-heart {
        margin: 0;
    }

    .sub-title {
        width: 90%;
    }

    .history-event:nth-child(2n) .event-descriptions,
    .event-descriptions {
        text-align: center;
        width: 90%;
        margin: 0 auto 90px;
    }
}

@media screen and (max-width: 410px) {

    .content{
        padding: 60px 0 0 0;
    }

    .mobile-header .nav__items {
        width: 100%;
    }

    .title-block {
        padding-top: 70px;
        height: 370px;
    }
    .main-title__item {
        display: block;
        text-align: center;
    }

    .main-title__item.border {
        border: none;
    }

    .main-title__item.icn-heart {
        margin: 15px auto;
    }

    .sub-title {
        margin-top: 38px;
        width: 70%;
    }

    .date-timer-time-left {
        width: 100%;
    }

    .time-left {
        width: 30%;
        margin: 15px 10%;
    }

    .about-us {
        padding-bottom: 75px;
    }

    .about-us__items {
        width: 100%;
    }

    .about-us__items:nth-child(2n) .about-us__item,
    .about-us__item {
        width: 100%;
    }

    .footer-logo--mobile {
        display: block;
    }

    .footer-logo--desktop {
        display: none;
    }

    .footer__item {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 32px;
    }

    .footer-contacts:last-child {
        text-align: center;
    }
}