.modal {
    background: #fffcf4;
    border: 10px solid #f05f75;
    display: none;
    padding: 40px 70px;
    position: fixed;
    top: 50%;
    left: 50%;
}

.modal--small {
    margin-left: -300px;
    margin-top: -265px;
    width: 440px;
}

.modal--large {
    margin-left: -600px;
    margin-top: -450px;
    width: 1040px;
}

.modal-header {
}

.modal-title {
    color: #414141;
    font-family: "Cormorant", sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.modal-header__button {
    position: absolute;
    top: 0;
    right: 0;
}

.button--close-modal {
    background: #f05f75 url("../img/icon_close.png") no-repeat center;
    width: 25px;
    height: 25px;
}

.modal-body {
}

@media screen and (max-width: 660px) {
    .modal--small {
        width: 350px;
        margin-left: -255px;
    }
}

@media screen and (max-width: 550px) {
    .modal {
        width: calc(100% - 160px);
        margin-left: 0;
        left: 0;
        min-width: 220px;
    }
}
















