.slick-arrow {
    display: block;
    width: 66px;
    height: 22px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-prev {
    background: url("../img/arrow_left.png") no-repeat 0 0;
    left: -126px;
}

.slick-next:hover,
.slick-next:focus,
.slick-next {
    background: url("../img/arrow_right.png") no-repeat 0 0;
    right: -126px;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}

.slick-dots {
    bottom: -55px;
}

.slick-dots li button {
    background: #b8bfc2;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    width: 24px;
    height: 24px;
}

.slick-dots li.slick-active button {
    background: #989d9f;

}

.slick-dots li button:before {
    display: none;
}

@media screen and (max-width: 1000px) {
    .wishes-slider-container.container {
        max-width: none;
    }

    .slick-list {
        overflow: visible;
    }

    .slick-initialized .slick-slide {
        margin: 0 50px;
    }

    .slick-dots,
    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .wishes-slider:before {
        right: 66px;
    }
}

@media screen and (max-width: 770px) {
    .slick-initialized .slick-slide {
        margin-left: 5px;
        margin-right: 15px;
    }
}