/*general*/
* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    color: #383957;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

html,
body {
    background: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: url("../../../img/theme2/bg4.png") no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
    font-size: 2.77rem;
    font-weight: 400;
    line-height: 3.33rem;
}

h2 {
    font-size: 1.38rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.11rem;
    line-height: 1.8rem;
}

h4 {
    font-size: .83rem;
    line-height: 1.8rem;
}

p {
    font-family: "Bad Script", sans-serif;
    font-size: 1.38rem;
    line-height: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

/*main*/

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}

.container:after {
    content: '';
    clear: both;
    display: block;
}

.content {
    padding: 110px 0;
}

.form-container {
    width: 100%;
}

.form {
    width: 100%;
}

.form-group {
    width: 100%;
    margin-bottom: 30px;
}

.form-group:after {
    content: '';
    clear: both;
    display: block;
}

.form-item {
    width: 220px;
}

.input {
    background: #fafafa;
    border: 1px solid #CF3D63;
    border-radius: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #383957;
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    text-decoration: underline;
    -moz-text-decoration-color: #CF3D63;
    text-decoration-color: #CF3D63;
    -moz-text-decoration-style: dotted;
    text-decoration-style: dotted;
    display: inline-block;
    outline: none;
    padding: 0 39px;
    height: 50px;
}

.input::-ms-clear {
    display: none;
}

.buttons {
}

.buttons:after {
    content: '';
    clear: both;
    display: block;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.multi-select {
    background: #fafafa;
    border: 1px solid #CF3D63;
    border-radius: 20px;
    display: inline-block;
    position: relative;
}

.multi-select__button {
    border-radius: 20px;
    top: 10px;
    right: 10px;
}

.drop-down-list {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

.drop-down-list__item {
    color: #383957;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    text-decoration: underline;
    -moz-text-decoration-color: #CF3D63;
    text-decoration-color: #CF3D63;
    -moz-text-decoration-style: dotted;
    text-decoration-style: dotted;
    cursor: pointer;
    padding: 0 39px;
    position: relative;
    height: 50px;
}

.drop-down-list__item--selected:before {
    content: '';
    background: url("../../../img/theme2/icon_selected.png") no-repeat 0 0;
    display: block;
    position: absolute;
    width: 18px;
    height: 13px;
    top: 19px;
    left: 36px;
}

.default-multi-select {
    display: none;
}

.multi-select--active .drop-down-list {
    height: auto;
}

.multi-select--active .multi-select__button {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.button--drop-down {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}

.button--drop-down:before,
.button--drop-down:after {
    content: '';
    background: #000000;
    display: block;
    position: absolute;
    height: 10px;
    width: 2px;
    top: 10px;
}

.button--drop-down:before {
    left: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.button--drop-down:after {
    left: 17px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button--positive {
    background: rgba(207, 61, 99, .75);
    border: 1px solid #CF3D63;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 0 0 rgba(123, 105, 95, 0.57);
    -moz-box-shadow: 0 2px 0 0 rgba(123, 105, 95, 0.57);
    box-shadow: 0 2px 0 0 rgba(123, 105, 95, 0.57);
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    padding: 0 39px;
    height: 50px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.button--positive:hover {
    background: rgba(207, 61, 99, 1);
}

.block__text {
    line-height: 3rem;
    text-align: center;
}

.main-title {
    font-weight: 400;
}

.sub-title {
}

.title {
    font-weight: 300;
}

.logo {
    background: #d04267;
    border-radius: 100%;
    color: #fff;
    font-family: "Comfortaa", sans-serif;
    font-size: .8rem;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    display: inline-block;
    width: 48px;
    height: 48px;
}

.layout {
    background: rgba(65, 52, 56, .57);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.social {
    text-align: center;
    position: absolute;
    opacity: 0;
    width: 100%;
    left: 0;
    bottom: 30px;
    z-index: -1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.social__item {
    display: inline-block;
    margin-right: 15px;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__item--link {
    background: no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: left;
    text-indent: -10000px;
    display: block;
    width: 40px;
    height: 40px;
}

.social-vk {
    background-image: url("../../../img/theme2/social/icon_vk.png");
}

.social-fb {
    background-image: url("../../../img/theme2/social/icon_fb.png");

}

.social-tw {
    background-image: url("../../../img/theme2/social/icon_tw.png");

}

.social-inst {
    background-image: url("../../../img/theme2/social/icon_inst.png");

}

.nav {
}

.nav:after {
    content: "";
    clear: both;
    display: block;
}

.nav__items {
    float: left;
    margin: 0;
    padding: 0;
}

.nav__items--left-side {
    text-align: right;
    width: 45%;
}

.nav__items--center {
    text-align: center;
    width: 10%;
}

.nav__items--right-side {
    text-align: left;
    width: 45%;
}

.nav__item {
    display: inline-block;
    line-height: 65px;
}

.nav__items--left-side .nav__item {
    margin-left: 20px;
}

.nav__items--left-side .nav__item:first-child {
    margin-left: 0;
}

.nav__items--right-side .nav__item {
    margin-right: 20px;
}

.nav__items--right-side .nav__item:last-child {
    margin-right: 0;
}

.nav__item--link {
    font-size: 1rem;
    text-transform: none;
    position: relative;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.nav__item--link:hover:after {
    content: '';
    background-color: rgb(207, 61, 99);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.49);;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.49);;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.49);;
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
}

.nav__item--logo:hover:after {
    content: none;
}

.nav__item--logo {
    font-size: .8rem;
    font-weight: 300;
    display: inline-block;
}

/*lines*/

.line {
    position: relative;
}

.line--under:after,
.line--upper:before {
    content: '';
    background: #cf3d63;
    display: block;
    margin-left: -26px;
    position: absolute;
    width: 52px;
    height: 1px;
    left: 50%;
}

.line--under:after {
    bottom: 0;
}

.line--upper:before {
    top: -20px;
}

/*icons*/
.i-heart {
    background: url("../../../img/theme2/icon_logo-heart.png") no-repeat center;
    line-height: inherit;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.i-heart-white {
    background: url("../../../img/theme2/icon_heart-white.png") no-repeat center;
    line-height: inherit;
    display: inline-block;
    width: 34px;
    height: 30px;
}

.i-two-hearts {
    background: url("../../../img/theme2/icon_2hearts.png") no-repeat center;
    line-height: inherit;
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 35px;
}

.i-rings {
    background: url("../../../img/theme2/icon_rings.png") no-repeat center;
    line-height: inherit;
    display: inline-block;
    width: 67px;
    height: 37px;
}

.i-map {
    background: url("../../../img/theme2/icon_map.png") no-repeat center;
    line-height: inherit;
    display: inline-block;
    width: 12px;
    height: 17px;
}

.i-plus-in-circle {
    background: url("../../../img/theme2/icon_map-btn.png") no-repeat center;
    line-height: inherit;
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.i-plus-in-circle:hover {
    background-image: url("../../../img/theme2/icon_map-btn_inverse.png");
}

.i-plus-in-circle--large {
    background-image: url("../../../img/theme2/icon_map-btn--large.png");
}

.i-plus-in-circle--large:hover {
    background-image: url("../../../img/theme2/icon_map-btn_inverse--large.png");
}

/*gallery*/

.gallery {
    width: 100%;
}

.gallery-categories {
    text-align: center;
    width: 100%;
}

.gallery-category {
    font-size: 1.1rem;
    line-height: 1.5rem;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
}

.gallery-category:last-child {
    margin-right: 0;
}

.gallery-category--active {
    border-bottom: 1px solid #cf3d63;
}

.gallery-photos {
    margin-top: 30px;
    display: none;
}

.gallery-photos--active {
    display: block;
}

.gallery-photo {
}

.gallery-photo img {
}

.gallery-layout:after {
    content: '';
    background: url(../../../img/theme2/icon_zoom.png) no-repeat 0 0;
    display: block;
    margin-left: -25px;
    margin-top: -26px;
    position: absolute;
    width: 51px;
    height: 53px;
    top: 50%;
    left: 50%;
}

.gallery-photo:hover .layout {
    opacity: 1;
    z-index: 5;
}

.gallery-controls {
    text-align: center;
    padding: 50px 0;
}

.gallery-control {
    background: #f1f0f1;
    border: 1px solid #cf3d63;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    margin-right: 16px;
    width: 14px;
    height: 14px;
}

.gallery-control:last-child {
    margin-right: 0;
}

.gallery-control--active {
    background: #cf3d63;
}

/*mobile header*/

.mobile-header {
    background: #fff;
    padding: 8px 0;
    display: none;
    position: relative;
    height: 65px;
    z-index: 100;
}

.mobile-header__items {
    width: 100%;
}

.mobile-header__items:after {
    content: '';
    clear: both;
    display: block;
}

.mobile-header__item {
}

.mobile-header__item.logo {
    line-height: 50px;
}

.toggle-nav {
    cursor: pointer;
    float: right;
    margin-top: 14px;
    position: relative;
    width: 23px;
    height: 18px;
}

.toggle-nav__item {
    background: #767676;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 4px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.toggle-nav__item:first-child {
    top: 0;
}

.toggle-nav__item:last-child {
    top: 14px;
}

.toggle-nav--active .toggle-nav__item {
    top: 7px;
}

.toggle-nav--active .toggle-nav__item:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle-nav--active .toggle-nav__item:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toggle-nav--active .toggle-nav__item:nth-last-child(2) {
    display: none;
}

.toggle-nav:hover .toggle-nav__item {
    background: #d04267;
}

.mobile-header__nav {
    background: #fff;
    padding-bottom: 40px;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 65px;
}

.nav--active {
    display: block;
}

.mobile-header .nav__items {
    float: none;
    margin: 0 auto;
    width: 320px;
}

.mobile-header .nav__item {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    line-height: 40px;
    text-align: center;
    display: block;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.mobile-header .nav__item:first-child,
.mobile-header .nav__item:last-child {
    border: none;
}

.mobile-header .nav__item .nav__item--link {
    display: block;
    width: 100%;
    line-height: 40px;
    text-align: center;
}

.mobile-header .nav__item:hover {
    border-color: transparent;
}

/*end mobile header*/

/*header*/
.header {
    background: #fffeff;
    width: 100%;
    height: 65px;
}

.header__nav {
}

/*end header*/

/*title block*/

.title-block {
    background: url("../../../img/theme2/bg.png") no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 986px;
}

.title-block-container {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100px;
}

.title-block__text {
}

.title-block__text.sub-title {
    color: #ffffff;
    font-family: "Andantinoscript", sans-serif;
    font-size: 2.77rem;
    font-weight: 400;
    line-height: 3.33rem;
}

.title-block__separator {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: block;
    margin: 20px auto;
    position: relative;
    width: 457px;
    height: 6px;

}

.title-block__separator i {
    margin-left: -22px;
    position: absolute;
    left: 50%;
    top: -15px;
}

/*end title block*/

/*date timer block*/

.date-timer-block {

}

.invitation {
    background: url("../../../img/theme2/bg4.png") no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0 13px 17px 2px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 13px 17px 2px rgba(0, 0, 0, 0.09);
    box-shadow: 0 13px 17px 2px rgba(0, 0, 0, 0.09);
    padding: 70px 0;
    position: relative;
}

.invitation_item {
    text-align: center;
}

.date-timer-container {
    background: #fff;
    padding-bottom: 90px;
    padding-top: 47px;
}

.date-timer {
    margin: 30px auto 0;
    width: 340px;
}

.date-timer:after {
    content: '';
    clear: both;
    display: block;
}

.date-timer__item {
    background-color: #DFE8ED;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
}

.date-timer-item--day {

}

.date-timer-item--hours {
    margin: 0 20px;
}

.date-timer-item--minutes {

}

.clip1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    clip: rect(0px, 100px, 100px, 50px);
}

.slice1 {
    background-color: #cf3d63;
    border-color: #cf3d63;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    width: 100px;
    height: 100px;
    clip: rect(0px, 100px, 100px, 50px);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.clip2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    clip: rect(0, 50px, 100px, 0px);
}

.slice2 {
    background-color: #cf3d63;
    border-color: #cf3d63;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    width: 100px;
    height: 100px;
    clip: rect(0px, 50px, 100px, 0px);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.date-timer__data {
    background: #fff;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
}

.date-timer__value {
    color: #dd9ba9;
    font-family: Roboto, sans-serif;
    font-size: 39px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    position: absolute;
    width: 42px;
    top: 6px;
    left: 18px;
}

.date-timer__text {
    color: #dd9ba9;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    position: absolute;
    top: 44px;
    left: 16px;
}

.date-timer-item--hours .date-timer__text {
    left: 11px;
}

.date-timer-item--minutes .date-timer__text {
    left: 11px;

}

/*end date timer block*/

/*about us block*/

.about-us {
    background: #f1f1f1;
}

.about-us__items {
    width: 100%;
}

.about-us__items:after {
    content: '';
    clear: both;
    display: block;
}

.about-us__item {
    float: left;
    width: 40%;
}

.about-us__item:nth-child(2) {
    width: 20%;
}

.about-us__img {
    border: 23px solid #fff;
    margin-bottom: 65px;
    position: relative;
    width: 100%;
    z-index: 50;
}

.about-us-img {
    width: 100%;
    height: auto;
}

.about-us__img:hover .layout {
    opacity: 1;
    z-index: 40;
}

.about-us__img:hover .social {
    opacity: 1;
    z-index: 60;
}

.about-us-description {
    text-align: center;
}

.about-us-description h2 {
    margin-bottom: 30px;
}

.about-us-logo {
    background-color: rgba(207, 61, 99, 0.878);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);;
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    line-height: 110px;
    text-align: center;
    display: block;
    margin: 220px auto 0;
    width: 92px;
    height: 92px;
}

.about-us-logo i {
}

/*end about-us block*/

/*empty block*/

.empty-block {
    background: url("../../../img/theme2/bg2.png") no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 580px;
}

.empty-block--white {
    background: #fff;
    height: 150px;
}

/*end empty block*/

/*history block*/
.history {
}

.history__items {
    margin-bottom: 125px;
    margin-top: 110px;
}

.history__item {
    padding-bottom: 85px;
    position: relative;
    width: 100%;
}

.history__item:last-child {
    padding-bottom: 0;
}

.history__item:before {
    content: '';
    background: #cf3d63;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
}

.history__item:after {
    content: '';
    clear: both;
    display: block;
}

.history__item .history-img-block,
.history__item .history-title,
.history__item .history-story-block {
    float: left;
}

.history__item .history-img-block,
.history__item .history-story-block {
    width: 40%;
}

.history__item:nth-child(2n) .history-img-block,
.history__item:nth-child(2n) .history-title,
.history__item:nth-child(2n) .history-story-block {
    float: right;
}

.history-img-block {
    position: relative;
}

.history-img-block__img {
    width: 100%;
    height: auto;
}

.history-img-block__layout:after {
    content: '';
    background: url("../../../img/theme2/icon_zoom.png") no-repeat 0 0;
    display: block;
    margin-left: -25px;
    margin-top: -26px;
    position: absolute;
    width: 51px;
    height: 53px;
    top: 50%;
    left: 50%;
}

.history-img-block:hover .layout {
    opacity: 1;
    z-index: 40;
}

.history-title {
    background: #cf3d63;
    -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 1);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 1);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #ffffff;
    font-family: "Bad Script", sans-serif;
    font-size: 1.27rem;
    line-height: 2.3rem;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 20%;
    top: 150px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.history-story-block {

}

.history-story-block__story {
    text-align: left;
    margin-bottom: 23px;
}

.history-story-block__link {
    font-size: .83rem;
    font-weight: 600;
    line-height: 1.1rem;
}

.history__video {
    display: block;
    margin: 90px auto 0;
    width: 1068px;
    height: 601px;
}

/*end history block*/

/*relatives block*/
.relatives-block {
    background: transparent;
}

.relatives-block .block__text {
    margin-bottom: 120px;
}

.relatives {
    background: #f6f6f6;
    padding-top: 48px;
}

.relatives:after {
    content: '';
    clear: both;
    display: block;
}

.relatives__container {
    width: 100%;
    max-width: 1528px;
    margin: 0 auto;
}

.relatives__container:after {
    content: '';
    clear: both;
    display: block;
}

.relative {
    float: left;
    width: 32%;
    margin-right: 2%;
}

.relative:nth-child(3n) {
    margin-right: 0;
}

.relative__img {
    border: 20px solid #fff;
    position: relative;
    width: 100%;
    height: auto;
}

.relative-img__social {
    bottom: 85px;
}

.relative__img .table-number {
    color: #f6f6f6;
    font-size: 1.38rem;
    line-height: 1.8rem;
    text-align: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 36px;
    z-index: -1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.relative__img:hover .table-number {
    opacity: 1;
    z-index: 40;
}

.relative__img:hover .layout {
    opacity: 1;
    z-index: 40;
}

.relative__img:hover .social {
    opacity: 1;
    z-index: 50;
}

.relative-img--img {
    width: 100%;
    height: auto;
}

.relative__description {
    text-align: center;
    padding: 30px 0;
    margin-bottom: 50px;
}

.relative__description p {
    margin-top: 10px;
}

/*end relatives block*/

/*time and place block*/

.time-and-place {
    background: #f1f0f1;
    padding-bottom: 120px;
    width: 100%;
}

.time-and-place__routes {
    width: 100%;
}

.time-and-place__route {
}

.routes {
    text-align: right;
    padding: 70px 47px 0 0;
    margin-bottom: 40px;
}

.routes:after {
    content: '';
    clear: both;
    display: block;
}

.routes__title {
    line-height: 41px;
    float: right;
    margin-right: 50px;
}

.route {
    float: right;
    margin-right: 50px;
    position: relative;
}

.route:last-child {
    margin-right: 0;
}

.route__button {
    background: no-repeat 0 center;
    text-align: right;
    display: inline-block;
    position: relative;
    width: 118px;
    height: 40px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.route__button .i-plus-in-circle {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.route-button--car {
    background-image: url("../../../img/theme2/maps-icon/icon_map1.png");
}

.route-button-train {
    background-image: url("../../../img/theme2/maps-icon/icon_map2.png");

}

.route-button--plan {
    background-image: url("../../../img/theme2/maps-icon/icon_map3.png");

}

.route-button--bus {
    background-image: url("../../../img/theme2/maps-icon/icon_map4.png");

}

.route__button:hover .i-plus-in-circle {
    background-image: url("../../../img/theme2/icon_map-btn_inverse.png");
}

.route__button:hover.route-button--car {
    background-image: url("../../../img/theme2/maps-icon/icon_map1_hover.png");
}

.route__button:hover.route-button-train {
    background-image: url("../../../img/theme2/maps-icon/icon_map2_hover.png");

}

.route__button:hover.route-button--plan {
    background-image: url("../../../img/theme2/maps-icon/icon_map3_hover.png");

}

.route__button:hover.route-button--bus {
    background-image: url("../../../img/theme2/maps-icon/icon_map4_hover.png");
}

.route__info {
    background: #cf3d63;
    border-radius: 25px;
    color: #ffffff;
    text-align: left;
    display: none;
    padding: 14px 18px;
    position: absolute;
    top: 70px;
    left: -80px;
    width: 270px;
    z-index: 1;
}

.route__button:hover + .route__info {
    display: block;
}

.time-and-place__descriptions {
    float: left;
    width: 37%;
}

.time-and-place-description {
    background: url("../../../img/theme2/icon_map-marker.png") no-repeat left top;
    padding-left: 84px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.time-and-place-description h2 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 45px;
}

.time-and-place-description h3 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.time-and-place-descriptions__buttons {
    position: relative;
}

.time-and-place-descriptions__button {
    line-height: 40px;
    height: 40px;
}

.time-and-place-descriptions__button span {
    color: #383957;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.18rem;
    font-weight: 600;
    line-height: 40px;
    margin-left: 30px;
}

.time-and-place-descriptions__button * {
    float: left;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.time-and-place-descriptions__button:hover .i-plus-in-circle {
    background-image: url("../../../img/theme2/icon_map-btn_inverse.png");
}

.time-and-place-descriptions__button:hover span {
    color: #cf3d63;
}

.time-and-place-descriptions__info {
    background: #cf3d63;
    border-radius: 25px;
    color: #ffffff;
    text-align: left;
    display: none;
    padding: 14px 18px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 465px;
}

.time-and-place-descriptions__button:hover + .time-and-place-descriptions__info {
    display: block;
}

.time-and-place__places {
    float: left;
    position: relative;
    width: 63%;
    padding-top: 500px;
}

.time-and-place__place {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 500px;
}

.time-and-place__map {
    height: 100%;
    width: 100%;
}

.time-and-places__buttons {
    text-align: center;
    height: 126px;
    line-height: 126px;
}

.change-event-button {
    background: transparent;
    border: 1px solid #cf3d63;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    margin-right: 16px;
    width: 14px;
    height: 14px;
}

.change-event-button:last-child {
    margin-right: 0;
}

.change-event-button--active {
    background: #cf3d63;
}

/*end time and place block*/

/*timetable block*/

.timetable {
    background: #fff;
    width: 100%;
}

.timetable__board {
    margin: 0 auto;
    position: relative;
    width: 90%;
}

.timetable__board:before {
    content: '';
    background: #cf3d63;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 100%;
    height: 7px;
    left: 0;
    top: 102px;
}

.board {

}

.board__container {
    text-align: center;
}

.board__container:after {
    content: '';
    clear: both;
    display: block;
}

.board__event {
    display: block;
    width: 220px;
}

.board-event {
    text-align: center;
    display: inline-block;
    height: 300px;
    vertical-align: top;
}

.board-event__logo {
    text-align: center;
    display: block;
    padding-bottom: 44px;
    height: 105px;
}

.board-event__logo img {
    width: auto;
    height: auto;
}

.board-event__time {
    background: #dc91a4;
    border: 1px solid #cf3d63;
    border-radius: 25px;
    color: #fefefe;
    font-size: .83rem;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    margin-top: 44px;
    margin-bottom: 44px;
    padding: 0 35px;
    position: relative;
    height: 25px;
}

.board-event__time:before {
    content: '';
    background: #cf3d63;
    border-radius: 3px;
    display: block;
    margin-left: -3px;
    position: absolute;
    width: 7px;
    height: 22px;
    left: 50%;
    top: -55px
}

.board-event__info {
    font-size: .83rem;
    font-weight: 600;
    line-height: 1.66rem;
}

.timetable__buttons {
    margin: 0 auto;
    width: 90%;
    text-align: right;
}

.timetable__button {
    line-height: 40px;
    display: inline-block;
    height: 40px;
}

.timetable__button * {
    float: left;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.timetable__button span {
    color: #383957;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.18rem;
    font-weight: 600;
    line-height: 40px;
    margin-left: 30px;
}

.timetable__button:hover .i-plus-in-circle {
    background-image: url(../../../img/theme2/icon_map-btn_inverse.png);
}

.timetable__button:hover span {
    color: #cf3d63;
}

/*end timetable block*/

/*interview block*/

.interview {
    background: #fff;
    padding-top: 0;
    width: 100%;
}

.interview__container {
    background: url("../../../img/theme2/bg5.png") no-repeat center fixed;
    margin-top: 50px;
    padding-top: 260px;
    width: 100%;
    height: 580px;
}

.interview__form .form-group {
    text-align: center;
}

.interview__form .form-item {
    vertical-align: top;
    margin-right: 30px;
}

.interview__form .form-item:last-child {
    margin-right: 0;
}

/*end interview block*/

/*guest block*/
.guests-block {
    background: #fff;
}

.guests-block .block__text {
    margin-bottom: 120px;
}

.guests {
    background: #f6f6f6;
    padding-top: 48px;
}

.guests:after {
    content: '';
    clear: both;
    display: block;
}

.guests__container {
    width: 100%;
    max-width: 1528px;
    margin: 0 auto;
}

.guests__container:after {
    content: '';
    clear: both;
    display: block;
}

.guest {
    float: left;
    width: 32%;
    margin-right: 2%;
}

.guest:nth-child(3n) {
    margin-right: 0;
}

.guest__img {
    border: 20px solid #fff;
    position: relative;
    width: 100%;
    height: auto;
}

.guest-img__social {
    bottom: 85px;
}

.guest__img .table-number {
    color: #f6f6f6;
    font-size: 1.38rem;
    line-height: 1.8rem;
    text-align: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 36px;
    z-index: -1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.guest__img:hover .table-number {
    opacity: 1;
    z-index: 40;
}

.guest__img:hover .layout {
    opacity: 1;
    z-index: 40;
}

.guest__img:hover .social {
    opacity: 1;
    z-index: 50;
}

.guest-img--img {
    width: 100%;
    height: auto;
}

.guest__description {
    text-align: center;
    padding: 30px 0;
    margin-bottom: 50px;
}

.guest__description p {
    margin-top: 10px;
}

.guests-block__buttons {
    text-align: center;
    margin-top: 16px;
    width: 100%;
}

.guests-block__button {
    line-height: 28px;
    display: inline-block;
    height: 28px;
}

.guests-block__button .i-plus-in-circle {
    -webkit-background-size: contain;
    background-size: contain;
    height: 28px;
    width: 28px;
}

.guests-block__button * {
    float: left;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.guests-block__button span {
    color: #383957;
    font-family: "Comfortaa", sans-serif;
    font-size: .83rem;
    font-weight: 600;
    line-height: 28px;
    margin-left: 13px;
}

.guests-block__button:hover .i-plus-in-circle {
    background-image: url(../../../img/theme2/icon_map-btn_inverse.png);
}

.guests-block__button:hover span {
    color: #cf3d63;
}

/*end guest block*/

/*tables schema block*/

.tables-schema-block {
    background: #fff;
    width: 100%;
}

.tables-schema {
    text-align: center;
}

.table {
    display: inline-block;
    margin-top: 150px;
    width: 33%;
}

.table-title {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
}

.table-img {
    width: 100%;
}

.table-img__img {
    height: auto;
    width: 100%;
}

.table__info {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 20px;
}

/*end tables schema block*/

/*photo gallery block*/

.photo-gallery {
    background: #fff;
    width: 100%;
}

/*end photo gallery block*/

/*wishes block*/
.wishes {
    background: rgba(246, 246, 246, .5);
    padding-bottom: 50px;
    width: 100%;
}

.wishes .container {
    padding: 80px 0;
    position: relative;
}

.wishes-control {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 217px;
}

.wishes-control:before,
.wishes-control:after {
    content: '';
    background: #cf3d63;
    border-radius: 5px;
    display: block;
    position: absolute;
    width: 3px;
    height: 18px;
    top: 16px;
}

.wishes-control:before {
    left: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wishes-control:after {
    left: 29px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.wishes-control--next {
    top: 18px;
}

.wishes-control--prev {
    bottom: 18px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wishes__container {
    overflow: hidden;
    width: 100%;
    height: 1220px;
}

.wish {
    margin-bottom: 90px;
    width: 100%;
    height: 540px;
}

.wisher {
    float: left;
    width: 40%;
}

.wisher__img {
    border: 20px solid #fff;
    width: 100%;
}

.wisher__img--img {
    width: 100%;
    height: auto;
}

.wish-img__title {
    padding: 32px 0;
    text-align: center;
}

.wish-img__title h3 {

}

.wish-img__title p {

}

.wisher-text {
    float: left;
    width: 60%;
}

.wisher-text p {
    padding: 140px 70px 20px;
}

.wishes__buttons {
    text-align: center;
    width: 100%;
}

.wishes__button {
    vertical-align: top;
}

.wishes__button:first-child {
    margin-right: 120px;
}

.wishes__button .i-plus-in-circle {
    background-size: contain;
    width: 50px;
    height: 50px;
}

.wishes__button .button--positive {
}

/*end wishes block*/

/*gifts block*/

.gifts-block {
    background: #fff;
    width: 100%;
}

.gifts {
    text-align: center;
    width: 100%;
    padding-top: 100px;
}

.gift {
    display: inline-block;
    margin-right: 150px;
}

.gift:last-child {
    margin-right: 0;
}

/*end gifts block*/

/*photo-video gallery block*/

.photo-video-gallery {
    background: #fff;
    width: 100%;
}

/*end photo gallery block*/

/*footer*/

.footer {
    background: #dd7993;
    padding: 45px 0;
    width: 100%;
}

.footer__item {
    float: left;
}

.map-info,
.contacts {
    width: 30%;
}

.map-info__title {
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 75px;
    padding-left: 30px;
    position: relative;
}

.map-info__title:after {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    width: 87px;
    height: 1px;
    bottom: -30px;
    left: 70px;
}

.map-info__button {
    width: 224px;
}

.footer-item__logo {
    width: 40%;
    text-align: center;
    padding-top: 40px;
}

.contacts {

}

.contacts__title {
    color: #ffffff;
    font-weight: 400;
    text-align: right;
    margin-bottom: 15px;
    padding-right: 30px;
}

.contact {
    display: block;
    text-align: right;
    color: #ffffff;
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.3rem;

}

.footer__social {
    text-align: right;
    text-indent: -10000px;
    margin-top: 10px;
    opacity: 1;
    position: static;
    z-index: 1;
}

/*end footer*/




@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    html{
        overflow: hidden;
        height: 100%;
    }
    body{
        overflow: auto;
        height: 100%;
    }
}




