@media screen and (max-width: 1300px) {
    html {
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 1100px) {
    html {
        font-size: 14px;
        line-height: 20px;
    }

    .history__video {
        width: 980px;
        height: 551px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 640px;
        margin: 0 auto;
    }

    .social__item {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .social__item--link {
        width: 30px;
        height: 30px;
    }

    .mobile-header {
        display: block;
    }

    .header {
        display: none;
    }

    .title-block {
        height: 720px;
        background-attachment: local;
    }

    .about-us__img {
        border-width: 5px;
    }

    .about-us-logo {
        margin-top: 95px;
        width: 70px;
        height: 70px;
        line-height: 81px;
    }

    .about-us-logo i {
        -webkit-background-size: cover;
        background-size: cover;
        width: 21px;
        height: 18px;
    }

    .empty-block {
        background-attachment: local;
        height: 420px;
    }

    .history .block__text {
        margin-bottom: 0;
        letter-spacing: 3px;
    }

    .history__item {
        padding-top: 45px;
        padding-bottom: 35px;
    }

    .history__item:before {
        content: none;
    }

    .history-img-block {
        overflow: hidden;
        height: 365px;
    }

    .history-img-block:after {
        content: '';
        clear: both;
        display: block;
    }

    .history-img-block__layout {
        display: none;
    }

    .history-img-block__img {
        float: left;
        width: 80%;
        height: 365px;
    }

    .mobile-history-title {
        background: #d14569;
        color: #ffffff;
        font-family: "Bad Script", sans-serif;
        font-size: 2.22rem;
        line-height: 100px;
        text-align: center;
        display: block;
        float: left;
        position: relative;
        width: 365px;
        height: 100px;
        top: -233px;
        left: 379px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .history-story-block {
        text-align: center;
        margin-top: 50px;
    }

    .history-story-block__story {
        font-size: 1.27rem;
        line-height: 1.5rem;
        text-align: center;
        margin: 0 auto 50px;
        width: 80%;
    }

    .history-story-block__link {
        color: #d04f70;
        font-size: .94rem;
    }

    .history__item .history-title,
    .history__item:nth-child(2n) .history-title {
        display: none;
    }

    .history__item .history-img-block,
    .history__item .history-story-block,
    .history__item:nth-child(2n) .history-img-block,
    .history__item:nth-child(2n) .history-story-block {
        float: none;
        width: 100%;
    }

    .history-img-block {
        margin-bottom: 25px;
    }

    .history__items {
        margin-bottom: 80px;
    }

    .history__video {
        width: 640px;
        height: 360px;
    }

    .relatives__container {
        position: relative;
        height: 600px;
    }

    .relatives__button {
        display: block;
    }

    .relative {
        float: none;
        display: none;
        margin: 0 auto 0 -200px;
        position: absolute;
        width: 400px;
        top: 0;
        left: 50%;
    }

    .relative--active {
        display: block;
    }

    .relative:nth-child(3n) {
        margin: 0 auto 0 -200px;
    }

    .relative:nth-child(2n) {
        margin: 0 auto 0 -200px;
    }

    .relative__description {
        margin-bottom: 0;
    }

    .empty-block--white {
        height: 100px;
    }

    .routes {
        text-align: left;
        padding-top: 111px;
        padding-right: 0;
        position: relative;
        height: auto;
    }

    .routes__title,
    .route {
        float: none;
    }

    .routes__title {
        font-size: 1.77rem;
        line-height: 3rem;
        text-align: center;
        margin: 0 0 0 -150px;
        position: absolute;
        width: 300px;
        top: 35px;
        left: 50%;
    }

    .routes__title.line:after {
        content: '';
    }

    .route {
        text-align: center;
        float: left;
        margin: 0 2% 20px 0;
        width: 46%;
    }

    .route:nth-child(2n) {
        text-align: center;
        margin: 0 0 20px 2%;
    }

    .route__info {
        display: none;
        top: 50px;
        left: 60px;
    }

    .time-and-place-descriptions__buttons {
        display: none;
    }

    .time-and-place-descriptions__buttons--mobile {
        display: block;
        text-align: center;
    }

    .time-and-place-descriptions__info {
        position: static;
        margin: 20px auto;
    }

    .time-and-place__descriptions {
        position: relative;
        float: none;
        width: 100%;
        height: 120px;
    }

    .time-and-place-description {
        background: transparent;
        display: none;
        padding: 0 50px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .time-and-place-description--active {
        display: block;
    }

    .time-and-place__button {
        display: block;
    }

    .time-and-place-description h2 {
        margin-bottom: 25px;
        text-align: center;
    }

    .time-and-place-description h3 {
        text-align: center;
    }

    .time-and-place__places {
        width: 100%;
    }









    .timetable__board:after {
        content: '';
        background: #cf3d63;
        border-radius: 3px;
        display: block;
        position: absolute;
        width: 100%;
        height: 7px;
        left: 0;
        top: 403px
    }

    .interview__container {
        background-attachment: local;
    }

    .interview__form .form-item {
        margin-bottom: 25px;
    }

    .interview__form .form-item:nth-child(2n) {
        margin-right: 0;
    }

    .guests__container {
        position: relative;
        height: 600px;
    }

    .guests__button {
        display: block;
    }

    .guest {
        float: none;
        display: none;
        margin: 0 auto 0 -200px;
        position: absolute;
        width: 400px;
        top: 0;
        left: 50%;
    }

    .guest--active {
        display: block;
    }

    .guest:nth-child(3n) {
        margin: 0 auto 0 -200px;
    }

    .guest:nth-child(2n) {
        margin: 0 auto 0 -200px;
    }

    .guest__description {
        margin-bottom: 0;
    }

    .tables-schema {
        position: relative;
        height: 300px;
        width: 100%;
        max-width: 100%;
    }

    .tables__button {
        display: block;
    }

    .table {
        display: none;
        margin: 0 auto 0 -160px;
        position: absolute;
        top: 30px;
        left: 50%;
        width: 320px;
    }

    .table--active {
        display: block;
    }

    .wishes .container {
        width: 100%;
        max-width: 100%;
    }

    .wishes-control {
        display: none;
    }

    .wishes__container {
        position: relative;
        height: 720px;
    }

    .wishes__button {
        display: block;
    }

    .wish {
        display: none;
        margin: 0 auto 0 -160px;
        position: absolute;
        top: 30px;
        left: 50%;
        width: 320px;
    }

    .wish--active {
        display: block;
    }

    .wisher,
    .wisher-text {
        float: none;
        width: 100%;
    }

    .wisher-text p {
        text-align: center;
        padding: 0;
    }

    .wishes__buttons .wishes__button-add:first-child {
        margin-right: 22px;
    }

    .gift {
        margin-right: 0;
    }

    .map-info,
    .footer-item__logo {
        display: none;
    }

    .contacts {
        margin: 0 auto;
        display: block;
        float: none;
    }

    .contacts__title {
        text-align: center;
        padding-right: 0;
    }

    .footer__social,
    .contact {
        text-align: center;
        text-indent: 0;
    }

    .footer .social__item,
    .footer .social__item--link {
        width: 25px;
        height: 25px;
    }

}

@media screen and (max-width: 680px) {
    .container {
        width: 90%;
        max-width: none;
        margin: 0 auto;
    }

    .title-block {
        background-position-x: -570px;
    }

    .title-block__separator {
        width: 100%;
    }

    .about-us__item {
        float: none;
        width: 70%;
        margin: 0 auto;
    }

    .about-us__item:nth-child(2) {
        margin: 10px auto;
    }

    .about-us-logo {
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-top: 0;
        display: none;
    }

    .about-us-logo--mobile {
        display: block;
    }

    .empty-block {
        height: 320px;
    }

    .history__item:nth-child(2n) .history-img-block,
    .history__item .history-img-block {
        margin: 0 auto;
        width: 374px;
        height: 230px;
    }

    .history-img-block__img {
        width: 324px;
        height: 231px;
    }

    .history-story-block,
    .history-story-block__story {
        text-align: left;
    }

    .history-story-block__link {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    .mobile-history-title {
        font-size: 20px;
        line-height: 50px;
        width: 231px;
        height: 50px;
        top: -140px;
        left: 233px;
    }

    .history__video {
        width: 100%;
    }

    .empty-block--white {
        height: 70px;
    }

    .route {
        text-align: right;
    }

    .route:nth-child(2n) {
        text-align: left;
    }

    .route:nth-child(2n) .route__info {
        left: -70px;
    }

    .footer__item {
        float: none;
    }

    .footer-item__logo,
    .map-info,
    .contacts {
        width: 100%;
    }

    .map-info__title:after {
        margin-left: -43px;
        left: 50%;
    }

    .map-info__button {
        display: block;
        margin: 0 auto;
        width: 50%;
        min-width: 170px;
    }

    .footer-item__logo {
        padding-bottom: 40px;
    }

    .footer__social {
        margin-top: 20px;
    }

}

@media screen and (max-width: 570px) {
    .interview__container {
        padding-top: 65px;
    }

    .interview__form .form-item,
    .interview__form .form-item:nth-child(2n) {
        display: block;
        margin: 0 auto 30px;
    }
}

@media screen and (max-width: 520px) {
    .board-event {
        float: left;
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .title-block {
        background-position-x: -630px;
    }

    .history__video {
        height: 270px;
    }
}

@media screen and (max-width: 410px) {
    html,
    body {
        min-width: 394px;
    }

    .content {
        padding: 50px 0;
    }

    .mobile-header .nav__items {
        width: 100%;
    }

    .title-block {
        background-position-x: -660px;
    }
}